.dialog {
    display: grid;
    max-block-size: min(80vh, 100%);
    max-block-size: min(80dvb, 100%);
    margin: auto;
    padding: 0;
    position: fixed;
    inset: 0;
    z-index: 10;
    overflow: hidden;
    transition: transform .3s ease;
    animation: show .3s ease;
}

@keyframes show {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

.dialog::backdrop {
    backdrop-filter: blur(25px);
}

.dialog::backdrop {
    transition: backdrop-filter .5s ease;
}

.dialog__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    max-block-size: 80vh;
    max-block-size: 80dvb;
}

.dialog__header {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding-block: 1rem;
    padding-inline: 1.5rem;
}

.dialog__body {
    overflow-y: auto;
    max-block-size: 100%;
    /* safari */
    overscroll-behavior-y: contain;
    display: grid;
    justify-items: flex-start;
    gap: 1rem;
    z-index: 1;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}

.dialog__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding-inline: 1.5rem;
    padding-block: 1rem;
}